# ROS 2
build/
install/
log/
.colcon/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
.env

# C++
*.o
*.a
*.so

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
elecsoftware/
